@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121215;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-burnt-red to-burnt-red-light;
  }
}
